name: .NET Core

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest #ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    
    # publish nuget packages -- start
    - name: Pack Packages
      run: dotnet pack ./AnimalAdoption.Common.Logic/AnimalAdoption.Common.Logic.csproj --configuration Release --no-build --output alan9259.taa-portal\nupkgs\Release
    
    - name: Setup Nuget.exe
      uses: warrenbuckley/Setup-Nuget@v1
      
    - name: Nuget Add Source
      run: nuget source Add -Name "GitHub" -Source "https://nuget.pkg.github.com/alan9259/index.json" -UserName alan9259 -Password ${{ secrets.NUGET }}

    - name: Nuget SetAPIKey
      run: nuget setApiKey ${{ secrets.NUGET }} -Source "GitHub"

    - name: Nuget Push
      run: nuget push alan9259.taa-portal\nupkgs\Release\*.nupkg -Source "GitHub" -SkipDuplicate
    # publish nuget packages -- end
      
    - name: Test
      run: dotnet test ./AnimalAdoption.Web.Portal.UnitTests/AnimalAdoption.Web.Portal.UnitTests.csproj --no-restore --verbosity normal
    - name: List out directory contents
      run: echo "Listing the contents of the GitHub workspace directory" ls ${{ github.workspace }} echo "Recursively listing all contents of the current directory" ls -R
  
    - name: Publish
      run: dotnet publish ./AnimalAdoption.Web.Portal/AnimalAdoption.Web.Portal.csproj --configuration Release --no-build --output ${{ github.workspace }}/taa-portal/
    - uses: actions/upload-artifact@v2
      with:
        name: animal-adoption-portal-artifact
        path: ${{ github.workspace }}/taa-portal/ 
 
  deploy:
    needs: build

    runs-on: ubuntu-latest
    
    steps:
    - name: 'Run Azure webapp deploy action using publish profile credentials'
      uses: azure/webapps-deploy@v2
      with: 
        app-name: Lemon-Treats-TAA-Animal-Portal # Replace with your app name
        publish-profile: ${{ secrets.DEPLOYMENT_SECREST_DEV  }} # Define secret variable in repository settings as per action documentation
        package: '${{ github.workspace }}/taa-portal/'
